<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.captaincode.hurrileaf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.donations.ui.WaterDonationActivity"></activity>
        <activity android:name=".activities.donations.ui.ClothesDonationActivity" />
        <activity android:name=".DonationSponsorTerms" />
        <activity
            android:name=".SponsorTerms"
            android:label="@string/title_activity_sponsor_terms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.donations.ui.CashDonationActivity" />
        <activity android:name=".activities.sponsors.ui.SponsorDashboardActivity" />
        <activity android:name=".activities.sponsors.ui.SponsorRegistration" />
        <activity android:name=".activities.sponsors.ui.SponsorLoginRegistration" />
        <activity android:name=".activities.goodsDonation.ui.GoodsDonationActivity" />
        <activity android:name=".activities.paymentDonation.ui.PaymentDonationActivity" />
        <activity android:name=".activities.donations.ui.DonationTypeActivity" />
        <activity android:name=".activities.home.ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>